.container-content {
  position: absolute;
  top: 10%;
  left: 10%;
  height: auto;
  min-height: 90vh;
  min-height: 90dvh;
  width: 80vw;
  width: 80dvw;
  border-radius: 10px;
  background-color: white;
}
