.mine-products-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
}

@media only screen and (max-width: 1240px) {
  .mine-products-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 820px) {
  .mine-products-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .mine-products-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
