<div
  class="navbar-container"
  [ngClass]="{ 'first-view': firstView }"
  #navContainer
>
  <ul class="nav-list" [hidden]="!showingNavbar">
    <li
      class="nav-item btn-opened animate fadeIn animate--ease-in"
      (click)="navbarOpened()"
    >
      <a>
        <mat-icon>{{ iconOpened }}</mat-icon>
        <div class="label-icon">
          <label>{{
            iconOpened == "keyboard_arrow_down"
              ? "Manter aberto"
              : "Tornar dinâmico"
          }}</label>
        </div>
      </a>
    </li>
    <ng-container *ngFor="let item of navItems">
      <li
        class="nav-item animate fadeIn animate--ease-in"
        routerLinkActive="active"
      >
        <a [routerLink]="[item.route]">
          <mat-icon>{{ item.icon }}</mat-icon>
          <div class="label-icon">
            <label>{{ item.label }}</label>
          </div>
        </a>
      </li>
    </ng-container>
    <li class="nav-item btn-logout animate fadeIn animate--ease-in">
      <a (click)="onLogout()">
        <mat-icon>exit_to_app</mat-icon>
        <div class="label-icon">
          <label>Logout</label>
        </div>
      </a>
    </li>
  </ul>
</div>
