.container-profile {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  .photo-container {
    flex: 1 1 160px;
    margin-bottom: 1rem;
    position: relative;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    label {
      position: absolute;
      z-index: 2;
      font-family: fantasy;
      font-size: 3rem;
      top: -1rem;
      color: var(--secondary-color);
      text-shadow: 0 3px 3px black;
    }
    img {
      position: absolute;
      top: 0;
      height: 12rem;
      pointer-events: none;
      filter: drop-shadow(0px 2px 2px black);
    }
  }

  .user-data {
    color: var(--dark-color);
    flex: 1 0 330px;
    margin-right: 10px;
    h3,
    h4 {
      color: var(--secondary-color);
    }
    h4 {
      border-top: 1px solid black;
    }
  }
}

.card {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
