.search-section {
  margin-bottom: 5rem;

  .button-group {
    span {
      cursor: pointer;
      &.active {
        color: rgb(4 78 237 / 82%);
        font-weight: bold;
      }
    }
    mat-icon {
      &:hover {
        cursor: pointer;
        color: rgb(4 78 237 / 82%);
      }
    }
  }
  mat-icon {
    vertical-align: middle;
  }
}

.products-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
  .products-item {
    &:hover {
      transform: scale(1.03);
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 1240px) {
  .products-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 820px) {
  .products-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .products-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
