<div class="container mt-5 p-5">
  <div class="row d-flex">
    <div class="col-md-4 col-sm-12 d-flex justify-content-center mb-5">
      <div class="preview-image-container">
        <img
          [src]="urlPreviewImage"
          alt="preview image"
          (error)="previewImageDoestLoaded()"
          *ngIf="urlPreviewImage"
        />
        <span *ngIf="!urlPreviewImage">
          <mat-icon style="vertical-align: middle">photo</mat-icon>Prévia da
          imagem
        </span>
      </div>
    </div>
    <div class="col-md-8 col-sm-12">
      <div class="row">
        <div class="col-md-8 col-sm-12">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder=""
              maxlength="200"
              [(ngModel)]="product.name"
            />
            <label>Nome</label>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="form-group">
            <input
              currencyMask
              [options]="{
                prefix: 'R$ ',
                thousands: '.',
                decimal: ',',
                align: 'left',
                allowNegative: false
              }"
              class="form-control"
              placeholder=""
              [(ngModel)]="product.price"
            />
            <label>Preço</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder=""
              maxlength="500"
              (keydown.enter)="urlPreviewImage = product.urlImage"
              [(ngModel)]="product.urlImage"
            />
            <label>Link da imagem</label>
          </div>
        </div>
        <div class="col-2">
          <button
            class="btn btn-info"
            (click)="urlPreviewImage = product.urlImage"
            (mouseenter)="btnHover = true"
            (mouseleave)="btnHover = false"
          >
            <app-label-clue [isHover]="btnHover">
              <ng-container content>
                <mat-icon>search</mat-icon>
              </ng-container>
              <ng-container label
                >Clique para ver a prévia da imagem</ng-container
              >
            </app-label-clue>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <textarea
              class="form-control"
              rows="4"
              maxlength="400"
              placeholder=""
              [(ngModel)]="product.description"
            ></textarea>
            <label>Descrição</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <h4 class="caption">Localização</h4>
    <ng-container *ngIf="!loadingProductData">
      <app-location
        [data]="product.getLocationData()"
        (dataChanged)="product.setLocationData($event)"
        [isEditing]="true"
        (loadingData)="loadingLocationData = $event"
      ></app-location>
    </ng-container>
  </div>
  <div class="row">
    <div class="col-md-12 d-flex justify-content-between" style="column-gap: 100px;">
      <button class="btn btn-danger w-50" (click)="goBack()">Voltar</button>
      <button class="btn btn-success w-50" (click)="saveProductData()">Salvar</button>
    </div>
  </div>
</div>
<div class="loader-container" *ngIf="verifyIsLoading()">
  <app-loader-dots></app-loader-dots>
</div>
