/* You can add global styles to this file, and also import other style files */
@charset "UTF-8";
@import "~bootstrap/dist/css/bootstrap.css";

* {
  font-family: Tahoma, Arial, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.form-group {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  label {
    margin-right: 10px;
  }
}
