<section class="welcome-section">
  <article class="welcome-text">
    <h1 class="title">Bem vindo a DevUtopia!</h1>
    <div class="content-text">
      <p>
        Conectando apaixonados por tecnologia com os mais inovadores gadgets e
        acessórios - sua loja definitiva para desenvolvedores e entusiastas
        tecnológicos.
      </p>
    </div>
  </article>
</section>
<section class="items container-columns">
  <h1 class="title">Alguns itens de nossa loja:</h1>
  <div class="image-collection">
    <div class="image-icon">
      <img src="../../assets/imgs/LaptopImage.png" alt="laptop image" />
    </div>
    <div class="image-icon">
      <img src="../../assets/imgs/MonitorImage.png" alt="monitor image" />
    </div>
    <div class="image-icon">
      <img src="../../assets/imgs/JoystickImage.png" alt="joystick image" />
    </div>
    <div class="image-icon">
      <img src="../../assets/imgs/MouseImage.png" alt="computer mouse image" />
    </div>
    <div class="image-icon">
      <img src="../../assets/imgs/KeyboardImage.png" alt="keyboard image" />
    </div>
    <div class="image-icon">
      <img src="../../assets/imgs/ComputerImage.png" alt="computer image" />
    </div>
  </div>
</section>
