<div class="row">
  <div class="col-md-12">
    <h4 class="text-center">
      {{ editingReview ? "Altere" : "Faça" }} sua Avaliação
    </h4>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8">
        <div class="form-group">
          <textarea
            rows="3"
            class="form-control"
            placeholder=""
            maxlength="500"
            [(ngModel)]="ownReview.review"
          ></textarea>
          <label>Escreva sua avaliação</label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8">
        <div class="rating active">
          <input
            type="radio"
            name="rating"
            id="rating-5"
            [checked]="ownReview.stars == 5"
            (click)="setReviewRating(5)"
          />
          <label for="rating-5"></label>
          <input
            type="radio"
            name="rating"
            id="rating-4"
            [checked]="ownReview.stars == 4"
            (click)="setReviewRating(4)"
          />
          <label for="rating-4"></label>
          <input
            type="radio"
            name="rating"
            id="rating-3"
            [checked]="ownReview.stars == 3"
            (click)="setReviewRating(3)"
          />
          <label for="rating-3"></label>
          <input
            type="radio"
            name="rating"
            id="rating-2"
            [checked]="ownReview.stars == 2"
            (click)="setReviewRating(2)"
          />
          <label for="rating-2"></label>
          <input
            type="radio"
            name="rating"
            id="rating-1"
            [checked]="ownReview.stars == 1"
            (click)="setReviewRating(1)"
          />
          <label for="rating-1"></label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-2">
  <div class="col-md-12">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8 d-flex" style="column-gap: 10px">
        <ng-container *ngIf="!editingReview">
          <button
            class="btn btn-primary btn-lg w-100 h-100"
            (click)="insertReview()"
          >
            Enviar
          </button>
        </ng-container>
        <ng-container *ngIf="editingReview">
          <button
            class="btn btn-danger btn-lg w-50 h-100"
            (click)="onCancelEditReview()"
          >
            Cancelar
          </button>
          <button
            class="btn btn-warning btn-lg w-50 h-100"
            (click)="updateReview()"
          >
            Alterar
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="col-md-12">
    <h4 class="text-center">Avaliações Anteriores</h4>
  </div>
</div>
<ng-container *ngFor="let review of reviewsList">
  <div class="row">
    <div class="col-md-12">
      <div class="row d-flex justify-content-center">
        <div class="col-md-8">
          <div class="creator-data text-white backdrop-top">
            <p>
              <span>Usuário:</span>
              <span class="text-primary">{{
                review.userId == selfId
                  ? "Você"
                  : (review.userName | cutLabel : 10)
              }}</span>
            </p>
            <ng-container *ngIf="review.updatedAt">
              <p>
                <span>Alteração:</span>
                <span class="text-primary">{{
                  review.updatedAt | date : "dd/MM/YYYY HH:mm"
                }}</span>
              </p>
            </ng-container>
            <ng-container *ngIf="!review.updatedAt">
              <p>
                <span>Criação:</span>
                <span class="text-primary">{{
                  review.createdAt | date : "dd/MM/YYYY HH:mm"
                }}</span>
              </p>
            </ng-container>
            <button
              class="btn btn-warning btn-update-review"
              (click)="onStartEditReview(review.id)"
              *ngIf="review.userId == selfId"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row d-flex justify-content-center">
        <div class="col-md-8">
          <div class="form-group backdrop">
            <textarea
              rows="3"
              class="form-control"
              placeholder=""
              disabled="true"
              [value]="review.review"
            ></textarea>
            <label>Escreva sua avaliação</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row d-flex justify-content-center">
        <div class="col-md-8">
          <div class="rating backdrop-bottom">
            <input
              disabled="true"
              type="radio"
              id="rating-5"
              [checked]="review.stars == 5"
            />
            <label></label>
            <input
              disabled="true"
              type="radio"
              id="rating-4"
              [checked]="review.stars == 4"
            />
            <label></label>
            <input
              disabled="true"
              type="radio"
              id="rating-3"
              [checked]="review.stars == 3"
            />
            <label></label>
            <input
              disabled="true"
              type="radio"
              id="rating-2"
              [checked]="review.stars == 2"
            />
            <label></label>
            <input
              disabled="true"
              type="radio"
              id="rating-1"
              [checked]="review.stars == 1"
            />
            <label></label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
</ng-container>
<app-paginator
  [totalItems]="paginationData.totalItems"
  [itemsPerPage]="paginationData.itemsPerPage"
  (pageChange)="pageChanged($event)"
></app-paginator>
