<nav
  mat-tab-nav-bar
  [tabPanel]="tabPanel"
  mat-stretch-tabs="true"
  mat-align-tabs="start"
  color="warn"
>
  <ng-container *ngFor="let tab of tabs; let i = index">
    <a
      mat-tab-link
      *ngIf="tab.showIf"
      [routerLink]="[tab.path]"
      routerLinkActive
      #rla="routerLinkActive"
      [routerLinkActiveOptions]="{ exact: true }"
      [active]="rla.isActive"
    >
      {{ tab.name }}
    </a>
  </ng-container>
</nav>
<mat-tab-nav-panel #tabPanel>
  <div class="mt-3 pb-20 content-nav">
    <router-outlet></router-outlet>
  </div>
</mat-tab-nav-panel>
