.shopping-cart-container {
  z-index: 100;
  background-color: var(--dark-color);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 3rem;
  min-width: 38px;
  width: 4vw;
  width: 4dvw;

  position: fixed;
  left: 93vw;
  left: 93dvw;
  top: 0.5rem;

  border-radius: 10px;
  display: flex;
  justify-content: center;

  .icon-section {
    position: relative;
    margin: 10px;

    mat-icon {
      color: rgba(255, 255, 255, 0.438);
      position: relative;
    }
    &:hover {
      cursor: pointer;

      .mat-icon {
        color: white;
        cursor: pointer;
      }
    }
  }

  p {
    font-size: 10px;
    color: white;
    margin: 0;
  }
}
